<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.doabit.phonegap.plugins.baidulocation" version="0.1.0">
    <name>BaiduLocation</name>
    <description>Baidu Location Plugin for Phonegap</description>
    <license>MIT</license>
    <keywords>baidulocation, phonegap</keywords>
 
    <js-module src="www/location.js" name="BiaduLocationService">
        <clobbers target="window.baiduLocation" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BaiduLocation">
                <param name="android-package" value="com.doabit.phonegap.plugins.baidulocation.BaiduLocation"/>
            </feature>
        </config-file> 
        <source-file src="src/android/BaiduLocation.java" target-dir="src/com/doabit/phonegap/plugins/baidulocation" />     
     </platform>         
</plugin>